.layout-header
    .container
        .layout-header__inner
            a(href="index.html").layout-header__logo

            nav.layout-header__menu
                a(href="#").layout-header__link.active Home
                a(href="#").layout-header__link Features
                a(href="#").layout-header__link Our team
                a(href="#").layout-header__link Gallery
                a(href="#").layout-header__link Pricing
                a(href="#").layout-header__link Partners
                a(href="#").layout-header__link Contact
