head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="imagetoolbar" content="no")
	meta(name="msthemecompatible" content="no")
	meta(name="cleartype" content="on")
	meta(name="HandheldFriendly" content="True")

	meta(name="format-detection" content="telephone=no")
	meta(name="format-detection" content="address=no")

	meta(name="google" value="notranslate")

	link(sizes="16x16" href="/favicon-16x16.png" rel="icon" type="image/png")
	link(sizes="32x32" href="/favicon-32x32.png" rel="icon" type="image/png")

	block head

	title= pageTitle

	link(href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet")
	link(href="assets/styles/app.css" rel="stylesheet")
