extends ../layout/layout-default

block vars
	- var bodyClass = 'layout-home';

block head
	- var pageTitle = 'Engineer.ai - Front-end Test';

block content
	.section.section-welcome
		.slider-primary
			.slider-primary__item(style="background-image: url(assets/images/content/slide-1.jpg)")
				.container
	.section.section-trainers
		.container
			.section-trainers__head
				h2.section-headline SUPERB TRAINERS
			.section-trainers__body
				.c-grid
					.c-grid__item
						.card-item
							.card-item__inner
								.card-item__front
									.card-item__preview(style="background-image: url(assets/images/content/example-270x240-1.jpg)")
									.card-item__head
										strong.card-item__title Arthur M. Huffman
										.card-item__label Trainer
								.card-item__back
									.card-item__post
										.card-item__head
											strong.card-item__title Arthur M. Huffman
											.card-item__label Trainer
										.card-item__content
											p Maecenas mattis vitae tellus vel inter dum. Quisque lacinia mauris id conv allis pretium. Aliquam id odio sit  amet mauris porttitor iaculis a eu dui. Maecenas mattis vitae tellus vel  interdum. Quisque lacinia.
					.c-grid__item
						.card-item
							.card-item__inner
								.card-item__front
									.card-item__preview(style="background-image: url(assets/images/content/example-270x240-1.jpg)")
									.card-item__head
										strong.card-item__title Arthur M. Huffman
										.card-item__label Trainer
								.card-item__back
									.card-item__post
										.card-item__head
											strong.card-item__title Arthur M. Huffman
											.card-item__label Trainer
										.card-item__content
											p Maecenas mattis vitae tellus vel inter dum. Quisque lacinia mauris id conv allis pretium. Aliquam id odio sit  amet mauris porttitor iaculis a eu dui. Maecenas mattis vitae tellus vel  interdum. Quisque lacinia.
					.c-grid__item
						.card-item
							.card-item__inner
								.card-item__front
									.card-item__preview(style="background-image: url(assets/images/content/example-270x240-1.jpg)")
									.card-item__head
										strong.card-item__title Arthur M. Huffman
										.card-item__label Trainer
								.card-item__back
									.card-item__post
										.card-item__head
											strong.card-item__title Arthur M. Huffman
											.card-item__label Trainer
										.card-item__content
											p Maecenas mattis vitae tellus vel inter dum. Quisque lacinia mauris id conv allis pretium. Aliquam id odio sit  amet mauris porttitor iaculis a eu dui. Maecenas mattis vitae tellus vel  interdum. Quisque lacinia.
					.c-grid__item
						.card-item
							.card-item__inner
								.card-item__front
									.card-item__preview(style="background-image: url(assets/images/content/example-270x240-1.jpg)")
									.card-item__head
										strong.card-item__title Arthur M. Huffman
										.card-item__label Trainer
								.card-item__back
									.card-item__post
										.card-item__head
											strong.card-item__title Arthur M. Huffman
											.card-item__label Trainer
										.card-item__content
											p Maecenas mattis vitae tellus vel inter dum. Quisque lacinia mauris id conv allis pretium. Aliquam id odio sit  amet mauris porttitor iaculis a eu dui. Maecenas mattis vitae tellus vel  interdum. Quisque lacinia.